.container
  .row
    .span12.text-center
      %h2 Sign up
  .row
    .span12
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal", :id => "edit_user" }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => 'col-lg-4 control-label'
          .col-lg-8
            .input
              = f.text_field :email, :class => 'form-control'
        .form-group
          = f.label :password, t("activerecord.attributes.user.password", :default => "password"), :class => 'col-lg-4 control-label'
          .col-lg-8
            .input
              = f.password_field :password, :class => 'form-control'
        .form-group
          = f.label :Password, t("activerecord.attributes.user.password_confirmation", :default => "password_confirmation"), :class => 'col-lg-4 control-label'
          .col-lg-8
            .input
              = f.password_field :password_confirmation, :class => 'form-control'
        - for role in Role.find(:all)
          .form-group
            = f.label role.name , :class => 'col-lg-4 control-label'
            .col-lg-8
              .controls
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
        .form-group
          .col-lg-4
          .col-lg-8
            %button.btn.btn-primary{:type => "submit"} Sign up
        .form-group
          .col-lg-4
          .col-lg-8    
            = render "devise/shared/links"
