-#  This file is app/views/index.html.haml
.article
  .row
    .span4
      %h2 All games
      %ul{:class => ""}
        - @games.each do |game|
          %li
            .row-fluid
              .span1
                = link_to game_path(game), :method => :delete do
                  %i{:class => "icon-remove"}
              .span11
                = link_to game.title, game_path(game)
    .span4    
      %h2 Create New Game
      
      = form_tag games_path, :class => "form" do
        .row
          .span4
            = text_field :game, :title, :class => "input", :autofocus => true, :placeholder => "New game", :class=> "input-large"          
        .row
          .span4
            = submit_tag "Add", :class => "btn btn-large btn-primary"
    
