-#  This file is app/views/index.html.haml
.container
  .row-fluid.text-center
    .span4
      = render 'all_games'
    .span4
      .row-fluid
        .span12    
          %h2= t('games.title.create')
      = form_tag games_path, :class => "form" do
        .row-fluid
          .span12
            = text_field :game, :title, :class => "input input-large text-center", :id => "new-game", :autofocus => true, :placeholder => t('games.placeholder.new_game')          
        .row-fluid
          .span12
        .row-fluid
          .span12
            %button{:type => "submit", :class => "btn btn-large btn-primary"}
              %h2
                %i.icon-plus
                = t('games.button.add')
            
    .span4
      .row-fluid
        .span12
          #container
= javascript_include_tag 'games.index.js'  