-#  This file is app/views/index.html.haml
.container
  .row-fluid.text-center
    .span4
      -if @games != nil and @games.length != 0
        .row-fluid
          .span12
            %h2 All game       
        - @games.each do |game|
          .row-fluid
            .span1.text-left     
              = link_to game_path(game), :method => :delete do
                %i.icon-remove-circle.icon-2x
            .span7.text-left
              = link_to game.title.upcase, game_path(game)
            .span4.text-right
              = game.created_at.strftime("%H:%M, %d %b")
    .span4
      .row-fluid
        .span12    
          %h2 Create New Game
      = form_tag games_path, :class => "form" do
        .row-fluid
          .span12
            = text_field :game, :title, :class => "input input-large text-center", :id => "new-game", :autofocus => true, :placeholder => "New game"          
        .row-fluid
          .span12
        .row-fluid
          .span12
            %button{:type => "submit", :class => "btn btn-large btn-primary"}
              %h2
                %i.icon-plus
                Add
            
    .span4
      .row-fluid
        .span12
          #container
= javascript_include_tag 'games.index.js'  