-#  This file is app/views/index.html.haml
.article
  .row-fluid.text-center
    .span4
      .row-fluid
        .span12
          %h2 All games
      .row-fluid
        .span12
          %table
            %tr
              %th.span1
              %th.span7
              %th.span4
            - @games.each do |game|
              %tr
                %td
                  = link_to "Delete", game_path(game), :method => :delete do
                %td
                  = link_to game.title, game_path(game)
                %td
                  = game.created_at.strftime("%H:%M, %d %b. %Y")
    .span4
      .row-fluid
        .span12    
          %h2 Create New Game
      = form_tag games_path, :class => "form" do
        .row-fluid
          .span12
            = text_field :game, :title, :class => "input", :autofocus => true, :placeholder => "New game", :class=> "input-large"          
        .row-fluid
          .span12
            = submit_tag "Add", :class => "btn btn-large btn-primary"
    
