-#  This file is app/views/index.html.haml
%div{:class => "row-fluid"}
  %div{:class => "span3"}
    %h1 All games
  
    %ul
      - @games.each do |game|
        %li
          = link_to game.title, game_path(game)
          = link_to 'Delete', game_path(game), :method => :delete
  %div{:class => "span9"}
    %h1 #{@game.title}
    
    %div{:class => "span9"}
      = form_tag game_path(@game), :method => :get do
        = label :chain, :letters, 'letters'
        = text_field :chain, :letters, :value => params[:chain] 
      
        = submit_tag 'Save Changes'
    %div{:class => "span9"}
      = link_to 'Delete', game_path(@game), :method => :delete
      = link_to 'All games', games_path()
    %div{:class => "span9"}  
      %ul
        - @words.each do |word|
          %li
            = word


