-#  This file is app/views/index.html.haml
/
  .bs-docs-grid
    .row-fluid.show-grid
      .span4 
        4 
      .span4.offset4
        4 offset 4 
    .row-fluid.show-grid 
      .span3.offset3
        3 offset 3 
      .span3.offset3
        3 offset 3 
    .row-fluid.show-grid 
      .span6.offset6
        6 offset 6 


%article
  .row
    .span4
      %h2 All games
    
      %ul
        - @games.each do |game|
          %li
            .row-fluid
              .span1
                = link_to game_path(game), :method => :delete do
                  %i{:class => "icon-remove"}
              .span11
                = link_to game.title, game_path(game)
              
    .span5
      %h2 #{@game.title}    

    .span2
      = link_to 'Delete game', game_path(@game), :method => :delete
      %br
      = link_to 'New game', games_path 
  
              
  .row
    .span5.offset4
      = form_tag game_path(@game), :method => :get, :class => "form-inline" do
        = text_field :chain, :letters, :value => params[:chain], :autofocus => true, :placeholder => "Letters to keep" 
        = submit_tag 'Sort', :class => "btn btn-primary"
  .row
    .span5.offset4
      .accordion#accordion-words
        - cpt = 0
        - @words.each do |word|
          -cpt += 1
          .accordion-group
            .accordion-heading
              %a{:class => "accordion-toggle", :data => {:toggle => "collapse",:parent => "accordion-words"}, :href => "#collapse#{cpt}"}
                = word
            %div{:class => "accordion-body collapse", :id => "collapse#{cpt}"}
              .accordion-inner
                %h3
                  = word

