-#  This file is app/views/index.html.haml
.container
  = form_tag filter_game_path(@game), :method => :post, :class => "form" do
    = text_field :chain, :word_played, :id => 'word-to-be-played', :class=> "hide hidden"
    .row-fluid.text-center                 
      .span4
        = render 'all_games'



      .span4
        .row-fluid        
          .span12
            #container
              -x = 0
              -y = 0 
              -@game.title.upcase.chars.each do |letter|
                %div{:class => "normalTile tile", :style => "left: #{x}px; top: #{y}px;"} 
                  = letter
                - x += 50
                -if x == 250 then
                  -x = 0
                  -y += 50
            
        .row-fluid
          .span12
            #subcontainer
              .row-fluid
                .span6.text-left
                  = link_to 'Delete game', game_path(@game), :method => :delete
                .span6.text-right
                  = link_to 'New game', games_path 
      
                  
        .row-fluid
          .span12
            .row-fluid
              .span12
                .input-group
                  %span.input-group-addon
                    %i.icon-plus.icon-2x
                  = text_field :chain, :chain_to_keep, :value => params[:chain_to_keep], :autofocus => true, :placeholder => "Letters to keep", :class=> "form-control input-large"              
                %br
                .input-group              
                  %span.input-group-addon
                    %i.icon-minus.icon-2x
                  = text_field :chain, :chain_to_remove, :value => params[:chain_to_remove], :placeholder => "Unwanted letters", :class=> "form-control input-large"                  
                %br
            .row-fluid
              .span12
                %button{:type => "submit", :class => "btn btn-large btn-primary"}
                  %i.icon-cogs.icon-2x
                  Sort
                %span.btn.btn-default#resetButton
                  %i.icon-eraser.icon-2x
                  Reset
                  
        .row-fluid
          .span8.offset2
            .accordion#accordion-words
              - cpt = 0
              - @words.each do |word|
                -cpt += 1
                .accordion-group
                  .accordion-heading
                    %a{:class => "accordion-toggle", :data => {:toggle => "collapse",:parent => "#accordion-words"}, :href => "#collapsewords#{cpt}"}
                      = word.upcase
                  %div{:class => "accordion-body collapse", :id => "collapsewords#{cpt}"}
                    .accordion-inner
                      %h3
                        = word.upcase
                      %button{:type => "submit", :name => "play", :class => "btn btn-info play", :id => word}
                        %i.icon-gamepad
                        Play !
      .span4
        -if @played != nil and @played.length != 0
          .row
            .span12
              %h2 Words played
          .row
            .span8.offset2
              .accordion#accordion-played
                - cpt = 0
                - @played.each do |word|
                  -cpt += 1
                  .accordion-group
                    .accordion-heading
                      %a{:class => "accordion-toggle", :data => {:toggle => "collapse",:parent => "#accordion-played"}, :href => "#collapseplayed#{cpt}"}
                        = word
                    %div{:class => "accordion-body collapse", :id => "collapseplayed#{cpt}"}
                      .accordion-inner
                        %h3
                          = word
                        = submit_tag 'Unplay', :name => "unplay", :class => "btn btn-info play", :id => word
= javascript_include_tag 'game.show.js'      
