-#  This file is app/views/index.html.haml
%h1 #{@game.title}

%h3 "the ordered is #{@game.title_ordered}"

= form_tag game_path(@game), :method => :get do
  = label :chain, :letters, 'letters'
  = text_field :chain, :letters, :value => params[:chain] 

  = submit_tag 'Save Changes'
%ul
  - @words.each do |word|
    %li
      = word

= link_to 'Delete', game_path(@game), :method => :delete
= link_to 'All games', games_path()
