.container
  .row-fluid
    .span4.offset4
      %h2 Sign in
  
  .row-fluid
    .span4.offset4
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row-fluid
          .span6.text-right
            = f.label :email
          .span6  
            = f.email_field :email, :autofocus => true
        .row-fluid
          .span6.text-right
            = f.label :password, :class => 'control-label'
          .span6  
            = f.password_field :password, :class => 'controls'
        - if devise_mapping.rememberable?
          .row-fluid
            .span6.text-right
              = f.check_box :remember_me
            .span6
              = f.label :remember_me
          .row-fluid
            .span12.text-center
              = f.submit "Sign in", {:class => "btn btn-primary btn-large"}
          .row-fluid
            .span12.text-center
              = render "devise/shared/links"
