!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Letterpress Solver
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:rel => 'icon', :type => 'image/png', :href => '/assets/iconletterpress.png'}

  %body
    %header
      .row-fluid
        .navbar.navbar-inverse
          .navbar-inner
            .container
              %ul{:class => "nav navbar-nav"}
                %li{:class => params[:navbartop] == nil ? 'active':'' + " brand"}
                  = link_to "Letterpress Solver", root_path()
                %li{:class => params[:navbartop] == 'games'? 'active':''}
                  = link_to 'Games', games_path()
              %ul{:class => "nav navbar-nav pull-right"}                      
                - if user_signed_in?
                  %li{:class => params[:navbartop] == 'profile'? 'active':''}
                    = link_to "My Profile", user_root_path
                  %li
                    = link_to destroy_user_session_path, :method=>'delete' do
                      Logout
                      %i.icon-off
                - else
                  %li
                    = link_to 'Login', new_user_session_path
                  %li
                    = link_to 'Register', new_user_registration_path
                  
    
- if flash[:notice]
  .row-fluid
    .span6.offset3.text-center  
      #notice.message.alert.alert-info= flash[:notice]
- elsif flash[:warning]
  .row-fluid
    .span6.offset3.text-center
      #warning.message.alert.alert-warning= flash[:warning]
= yield