!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Letterpress Solver
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .row
        .navbar
          .navbar-inner
            .span11.offset1
              = link_to "Letterpress Solver", games_path(), :class => "brand"
              %ul{:class => "nav"}
                %li= link_to 'Games', games_path()
                %li= link_to 'Words', words_path() 
    
- if flash[:notice]
  .row
    .span9.offset3  
      #notice.message= flash[:notice]
- elsif flash[:warning]
  .row
    .span9.offset3  
      #warning.message= flash[:warning]
= yield